
<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-12">
        <!--Column1-->
        <div class="footer-useful">
          <h4>Useful Links</h4>
          <ul class="list-unstyled">
            <li><a href="/polls/about">About us</a></li>
            <li><a href="/polls/xidmet">Services</a></li>
            <li><a href="/polls/index2">Learn Statistics</a></li>

          </ul>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">
        <!--Column1-->
        <div class="footer-contact">
          <h4>Contact us</h4>
          <ul class="list-unstyled">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Baku,, Inshaatchilar Avenue 81</li>
            <li><i class="fa fa-phone-square" aria-hidden="true"></i> +94455 327 55 70</li>
            <li><i class="fa fa-envelope"></i> info@etsim.az</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>



<div class="container-fluid copyyyy">
  <div class="container">
  <div class="row footer-under">
    <div class="col-md-8 copy">
    <p class="text-left">&copy; Copyright 2019 - CSRSI e-learning Portal.  All rights reserved.</p>
    </div>
    <div class="col-md-4 social float-md-right">
      <ul class="social-nav">
        <li><a href="https://www.facebook.com/etsimbaku/" target="_blank" title="Facebook" rel="nofollow"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.linkedin.com/showcase/elmi-t%C9%99dqiqat-v%C9%99-statistik-i%CC%87nnovasiyalar-m%C9%99rk%C9%99zi/" target="_blank" title="Linkedin" rel="nofollow"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCMflTL9PvZcYHobfzSH7PsQ/featured" target="_blank" title="youtube" rel="nofollow"><i class="fab fa-youtube-play"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

 <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>
</html>